{"http_interactions":[{"request":{"method":"delete","uri":"https://api.staffomaticapp.com/v3/<STAFFOMATIC_TEST_ACCOUNT>/absence_types/14564","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Mon, 13 Feb 2017 09:10:34 GMT"}],"recorded_with":"VCR 2.9.2"}