{"http_interactions":[{"request":{"method":"get","uri":"http://demo.staffomatic-api.dev/api","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"3f2a79c92a0ad90c1178d659b1a817d3\""]},"body":{"encoding":"UTF-8","base64_string":"eyJjdXJyZW50X3VzZXJfdXJsIjoiaHR0cDovL2RlbW8uc3RhZmZvbWF0aWMt\nYXBpLmRldi9hcGkvdjMvdXNlciJ9\n"},"http_version":null},"recorded_at":"Mon, 11 Aug 2014 22:19:31 GMT"}],"recorded_with":"VCR 2.9.2"}