{"http_interactions":[{"request":{"method":"get","uri":"http://demo.staffomatic-api.dev/api?foo=bar","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"da725c43ad045360fb2d526de0395151\""]},"body":{"encoding":"UTF-8","base64_string":"eyJjdXJyZW50X3VzZXJfdXJsIjoiaHR0cDovL2RlbW8uc3RhZmZvbWF0aWMt\nYXBpLmRldi9hcGkvdjMvdXNlciJ9\n"},"http_version":null},"recorded_at":"Wed, 13 Aug 2014 07:10:08 GMT"}],"recorded_with":"VCR 2.9.2"}