{"http_interactions":[{"request":{"method":"get","uri":"http://demo.staffomatic.com/?foo=bar","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":401,"message":"Authorization Required"},"headers":{"Status":["401"], "Content-Type":["application/vnd.staffomatic.v3+json; charset=utf-8"]},"body":{"encoding":"UTF-8","base64_string":"RHUgbXVzc3QgRGljaCBlaW5sb2dnZW4u\n"},"http_version":null},"recorded_at":"Mon, 11 Aug 2014 06:44:47 GMT"}],"recorded_with":"VCR 2.9.2"}