{"http_interactions":[{"request":{"method":"get","uri":"https://api.staffomatic.com/search/users?per_page=1&q=user:pengwynn%20user:defunkt","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5"], "X-Ratelimit-Remaining":["1"], "X-Ratelimit-Reset":["1389455483"], "X-Github-Media-Type":["staffomatic.v3; format=json"], "Link":["<https://api.staffomatic.com/search/users?per_page=1&q=user%3Apengwynn+user%3Adefunkt&page=2>; rel=\"next\", <https://api.staffomatic.com/search/users?per_page=1&q=user%3Apengwynn+user%3Adefunkt&page=2>; rel=\"last\""]},"body":{"encoding":"UTF-8","string":"{\"total_count\":2,\"items\":[{\"login\":\"defunkt\",\"id\":2,\"avatar_url\":\"https://gravatar.com/avatar/b8dbb1987e8e5318584865f880036796?d=https%3A%2F%2Fidenticons.staffomatic.com%2Fc81e728d9d4c2f636f067f89cc14862c.png&r=x\",\"gravatar_id\":\"b8dbb1987e8e5318584865f880036796\",\"url\":\"https://api.staffomatic.com/users/defunkt\",\"html_url\":\"https://staffomatic.com/defunkt\",\"followers_url\":\"https://api.staffomatic.com/users/defunkt/followers\",\"following_url\":\"https://api.staffomatic.com/users/defunkt/following{/other_user}\",\"gists_url\":\"https://api.staffomatic.com/users/defunkt/gists{/gist_id}\",\"starred_url\":\"https://api.staffomatic.com/users/defunkt/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.staffomatic.com/users/defunkt/subscriptions\",\"organizations_url\":\"https://api.staffomatic.com/users/defunkt/orgs\",\"repos_url\":\"https://api.staffomatic.com/users/defunkt/repos\",\"events_url\":\"https://api.staffomatic.com/users/defunkt/events{/privacy}\",\"received_events_url\":\"https://api.staffomatic.com/users/defunkt/received_events\",\"type\":\"User\",\"site_admin\":true,\"score\":1.0}]}"},"http_version":null},"recorded_at":"Sat, 11 Jan 2014 15:50:24 GMT"},{"request":{"method":"get","uri":"https://api.staffomatic.com/search/users?page=2&per_page=1&q=user:pengwynn%20user:defunkt","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5"], "X-Ratelimit-Remaining":["0"], "X-Ratelimit-Reset":["1389455483"], "X-Github-Media-Type":["staffomatic.v3; format=json"], "Link":["<https://api.staffomatic.com/s[...]
