{"http_interactions":[{"request":{"method":"get","uri":"https://api.staffomaticapp.com/v3/<STAFFOMATIC_TEST_ACCOUNT>/locations/24086/absences","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Etag":["\"5ca161368fa3909493267d77b15c2b92\""], "Status":["200 OK"], "Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"ASCII-8BIT","base64_string":"W10=\n"},"http_version":null},"recorded_at":"Mon, 13 Feb 2017 09:12:19 GMT"}],"recorded_with":"VCR 2.9.2"}