{"http_interactions":[{"request":{"method":"get","uri":"https://api.staffomaticapp.com/v3/<STAFFOMATIC_TEST_ACCOUNT>/absences?state=approved","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Etag":["\"6a2c677a995da3169a999f0ac5ca24b2\""], "Status":["200 OK"], "Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"ASCII-8BIT","base64_string":"W10=\n"},"http_version":null},"recorded_at":"Mon, 13 Feb 2017 09:12:27 GMT"}],"recorded_with":"VCR 2.9.2"}