{"http_interactions":[{"request":{"method":"get","uri":"http://demo.staffomatic-api.dev/api","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"36f91ad2e2c27973848511634df59ca9\""]},"body":{"encoding":"UTF-8","base64_string":"eyJjdXJyZW50X3VzZXJfdXJsIjoiaHR0cDovL2RlbW8uc3RhZmZvbWF0aWMt\nYXBpLmRldi9hcGkvdjMvdXNlciJ9\n"},"http_version":null},"recorded_at":"Mon, 11 Aug 2014 22:18:11 GMT"}],"recorded_with":"VCR 2.9.2"}